:root {
    --message-list-background-hover: #F3F3F3;
    --message-list-background-selected: #EAEAEA;
}

.gradio-container {
    overflow-x: hidden; 
    overflow-y: auto;
    max-width: 100vw !important;
    max-height: 100vh !important;
}

#Accordion {
    background-color: #eff6ff;
}
#Accordion_sec {
    background-color: #d6e9ff;
}
#text_sec {
    background-color: #ddf1ff;
}
#btn {
    background-color: #3b82f6 !important;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#btn_danger {
    background-color: #f63b3b !important;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#btn_transparent {
    background-color: #609dff !important;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#history {
    height: calc(100% - 66px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 6px;
    padding-left: env(safe-area-inset-left);
}
#history {
    display: flex;
    flex-wrap: nowrap;
    max-height: calc(100*var(--vh) - 65px - calc(36px + 12px + max(12px, env(safe-area-inset-bottom)) + 1px ));
    /* overflow-y: auto; */
}
#history > div {
    border-radius: 0;
    background: none;
    padding: 0;
}
#history > div > div {
    padding-inline: 12px;
}


@media screen and (max-width: 767px) {
    #history {
        padding-left: 0;
    }
}

.col-container {
    display: grid !important; 
    grid-template-columns: 1fr 2.5fr 1fr !important;
    grid-gap: 10px;
}

/* Give whole chat tab a scroll bar */
#chat-tab-in-column {
    max-height: calc(100% - 66px) !important;
    overflow-x: hidden;
    overflow-y: auto !important;
    /*max-height: 130vh;*/
}

/* Make radio into a list */
fieldset#history-select-dropdown .wrap {
    gap: 0;
    overflow-y: auto;
    max-height: 840px;
}
fieldset#history-select-dropdown .wrap label {
    width: 100%;
    background: none;
    padding: 10px 16px 10px;
    box-shadow: none;
    justify-content: space-between;
}
fieldset#history-select-dropdown .wrap label:hover {
    background: var(--message-list-background-hover);
}
fieldset#history-select-dropdown .wrap label:active {
    background: var(--message-list-background-selected);
}
fieldset#history-select-dropdown .wrap label.selected {
    color: var(--checkbox-label-text-color);
    background: var(--message-list-background-selected);
    padding: 10px 64px 10px 16px;
}
fieldset#history-select-dropdown .wrap label:not(.selected) .chat-selected-btns{
    display: none;
}
fieldset#history-select-dropdown .wrap label > span {
    /* font-size: small; */
    margin-left: 0;
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
}
fieldset#history-select-dropdown .wrap label > span::before {
    content: url("data:image/svg+xml,%3Csvg stroke='%23000000' fill='none' stroke-opacity='0.85' stroke-width='2' viewBox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z'%3E%3C/path%3E%3C/svg%3E");
    padding-right: .8em;
    position: relative;
    top: 4px;
}
.dark fieldset#history-select-dropdown .wrap label > span::before {
    content: url("data:image/svg+xml,%3Csvg stroke='%23FFFFFF' fill='none' stroke-opacity='0.85' stroke-width='2' viewBox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z'%3E%3C/path%3E%3C/svg%3E");
}
fieldset#history-select-dropdown .wrap label > input {
    display: none;
}

[class *= "message"] {
    border-radius: var(--radius-xl) !important;
    /* padding: var(--spacing-xl) !important; */
    /* font-size: var(--text-md) !important; */
    /* line-height: var(--line-md) !important; */
    /* min-height: calc(var(--text-md)*var(--line-md) + 2*var(--spacing-xl)); */
    /* min-width: calc(var(--text-md)*var(--line-md) + 2*var(--spacing-xl)); */
}
[data-testid = "bot"] {
    max-width: 95%;
    /* width: auto !important; */
    border-bottom-left-radius: 0 !important;
}
[data-testid = "user"] {
    max-width: 100%;
    /* width: auto !important; */
    border-bottom-right-radius: 0 !important;
}
