#btn {
    background-color: #00aaff !important;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#btn_transparent {
    background-color: #ffffff !important;
    width: 10;
    height: 10;
}

#history {
    height: calc(100% - 66px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 6px;
    padding-left: env(safe-area-inset-left);
}
#history {
    max-height: calc(100*var(--vh) - 65px - 61px);
    max-height: calc(100*var(--vh) - 65px - calc(36px + 12px + max(12px, env(safe-area-inset-bottom)) + 1px ));
    /* overflow-y: auto; */
}
#history > div {
    border-radius: 0;
    background: none;
    height: 100%;
    padding: 0;
}
#history > div > div {
    padding-inline: 12px;
}


@media screen and (max-width: 767px) {
    #history {
        padding-left: 0;
    }
}

/* Make radio into a list */
fieldset#history-select-dropdown .wrap {
    gap: 0;
}
fieldset#history-select-dropdown .wrap label {
    width: 100%;
    background: none;
    padding: 10px 16px 10px;
    box-shadow: none;
    justify-content: space-between;
}
fieldset#history-select-dropdown .wrap label:hover {
    background: var(--message-list-background-hover);
}
fieldset#history-select-dropdown .wrap label:active {
    background: var(--message-list-background-selected);
}
fieldset#history-select-dropdown .wrap label.selected {
    color: var(--checkbox-label-text-color);
    background: var(--message-list-background-selected);
    padding: 10px 64px 10px 16px;
}
fieldset#history-select-dropdown .wrap label:not(.selected) .chat-selected-btns{
    display: none;
}
fieldset#history-select-dropdown .wrap label > span {
    /* font-size: small; */
    margin-left: 0;
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
}
fieldset#history-select-dropdown .wrap label > span::before {
    content: url("data:image/svg+xml,%3Csvg stroke='%23000000' fill='none' stroke-opacity='0.85' stroke-width='2' viewBox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z'%3E%3C/path%3E%3C/svg%3E");
    padding-right: .8em;
    position: relative;
    top: 4px;
}
.dark fieldset#history-select-dropdown .wrap label > span::before {
    content: url("data:image/svg+xml,%3Csvg stroke='%23FFFFFF' fill='none' stroke-opacity='0.85' stroke-width='2' viewBox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z'%3E%3C/path%3E%3C/svg%3E");
}
fieldset#history-select-dropdown .wrap label > input {
    display: none;
}
